@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
  /* background-color: burlywood; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 30px;
}

.board-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 500px;
}

.square {
  border: 1px solid rgb(29, 32, 29);
  /* background-color: black; */
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 50px;
  /* color: white; */
}

.btn {
  padding: 12px 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 28px;
  border: none;
  color: white;
  font-size: 16px;
}
